
<mat-card *ngIf="isAffichageOk" color="primary">
  <mat-card-header  fxLayoutAlign="center" color="primary">
    <mat-card-title>Connexion</mat-card-title>
  </mat-card-header>
  <mat-card-content  fxLayout="column nowrap" fxLayoutAlign="space-between stretch" color="primary">
    <form  [formGroup]="authForm" (ngSubmit)="onSubmit()" >
      <mat-form-field  appearance="standard">
        <mat-label  >"Saisir votre nom"</mat-label>
        <input matInput size="16"  placeholder="Saisir votre nom" type="text" formControlName="username" required >
      </mat-form-field>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-form-field  appearance="legacy ">
        <mat-label>"Saisir votre MdP"</mat-label>
        <input matInput size="16" placeholder="Saisir votre MdP" type="password" formControlName="password" required  >
      </mat-form-field>

      <mat-grid-list cols="2" rowHeight="4:1"color="primary">
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="submit" [disabled]="!authForm.valid">Valider</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="button" (click)="onCancel()">Annuler</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-error fxLayoutAlign="center"  *ngIf="loginStatus.status >0 && loginStatus.status !=200">
      Erreur nom/mdp - erreur : {{loginStatus.status}}
    </mat-error>
  </mat-card-content>
</mat-card>

