<div fxLayout="column" fxFlex="grow" fxFlexAlign="center center" *ngIf="isAffichageOuvrageOk"
>
      <mat-card fxLayout="row" *ngIf="isAfficheFormRecherche" >
        <mat-card-content fxLayoutAlign="space-around space-between">
          <form  [formGroup]="ouvrageDisposForm" (ngSubmit)="onSubmit()" >
              <mat-form-field>
                <mat-label >Auteur</mat-label>
                <input matInput placeholder="Auteur"  type="text" formControlName="auteur" >
              </mat-form-field>
              <mat-form-field>
                <mat-label>Titre</mat-label>
                <input  matInput placeholder="Titre" type="text" formControlName="titre"  >
              </mat-form-field>
            <mat-grid-list cols="2" rowHeight="4:1">
              <mat-grid-tile>
                <button mat-raised-button color="primary" type="submit">Valider</button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button mat-raised-button color="primary" type="button" (click)="onCancel()">Annuler</button>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
        </mat-card-content>
      </mat-card>

    <div fxFlexAlign="column"  *ngIf="!isAfficheFormRecherche">
      <mat-card>
        <mat-toolbar >
          <span class="fill-remaining-space"></span>
          <span>
            <button mat-raised-button  type="button" (click)="onNouvelleRecherche()">Nouvelle Recherche</button>
          </span>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <mat-card-content  class="lifttable mat-elevation-z12" >
          <table mat-table class="" [dataSource]="dataSource" >
            <ng-container matColumnDef="auteur">
              <th  mat-header-cell  *matHeaderCellDef  style="text-align:center" >Auteur</th>
              <td   mat-cell *matCellDef="let ouvrageWeb" > {{ouvrageWeb.auteur}} </td>
            </ng-container>
            <ng-container matColumnDef="titre">
              <th mat-header-cell  *cdkHeaderCellDef style="text-align:center"> Titre </th>
              <td mat-cell *matCellDef="let ouvrageWeb" style="text-align:center"> {{ouvrageWeb.titre}} </td>
            </ng-container>
            <ng-container matColumnDef="quantite" >
              <th mat-header-cell  *matHeaderCellDef style="text-align:center"> Quantité </th>
              <td mat-cell  *matCellDef="let ouvrageWeb" style="text-align:center"> {{ouvrageWeb.quantite}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns ;sticky: true"></tr>
            <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
</div>
