  <div  fxLayout="column nowrap" fxLayoutAlign="space-between stretch" >
    <div  fxFlexOffset="1"  fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="start" >
      <mat-toolbar  fxLayoutAlign="space-around center" color="primary">
        <span fxLayout="row" fxFlexAlign="center">
          <h2 fxFlexOffset="1"> Hello</h2>
          <h2 fxFlexOffset="3"> {{username}} </h2>
        </span>

        <nav mat-tab-nav-bar fxLayout="row">
            <button mat-raised-button color="primary"  [disabled]="!isUsagerConnecte()" (click)="onClickListePret()"  >MesPrets</button>
            <button mat-raised-button color="primary"  fxFlexOffset="1"  [disabled]="!isUsagerConnecte()" (click)="onClickOuvrageDispos()"  >Ouvrages</button>
            <button mat-raised-button color="primary"  fxFlexOffset="1" *ngIf="isUsagerConnecte()" (click)="authComponent.onClickLogout()"  >Sortir</button>
            <button mat-raised-button color="primary"  fxFlexOffset="1" *ngIf="!isUsagerConnecte()" (click)="onClickLogin()"  >Entrer</button>
        </nav>
      </mat-toolbar>
    </div>

    <div [hidden]="switchAffichage != 3" fxFlexOffset="1" fxLayout="column nowrap"  fxLayoutAlign="center center" fxFlex="20">
      <app-auth [isAffichageOk]="switchAffichage ==3" (loginSubmitDone)="onAuthenticationLoginDone($event)"  (logoutTrigger)="onAuthenticationLogout($event)"> </app-auth>
    </div>

    <div *ngIf="switchAffichage == 1" fxFlexOffset="1" fxLayout="column nowrap"  fxLayoutAlign="center center" >
        <app-prets-usager></app-prets-usager>
    </div>

    <div *ngIf="switchAffichage == 2" fxFlexOffset="1" fxLayout="column nowrap"  fxLayoutAlign="center center" >
      <app-ouvrages-disponibles [isAffichageOuvrageOk]="switchAffichage == 2" [afficheRecherche]="true"></app-ouvrages-disponibles>
    </div>
  </div>
